target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
galaxy-common/galaxy-common-core/src/main/resources/
galaxy-common/galaxy-common-core/src/test/

### application.properties for hiding keys ###
galaxy-upload/src/main/resources/bootstrap.yml
galaxy-ucenter/src/main/resources/bootstrap.yml
galaxy-gateway/src/main/resources/bootstrap.yml
galaxy-eureka/src/main/resources/bootstrap.yml
galaxy-config/src/main/resources/bootstrap.yml
galaxy-cms/src/main/resources/bootstrap.yml
galaxy-admin-server/src/main/resources/bootstrap.yml