<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.upload.module.mapper.UploadVideoMapper">
  <resultMap id="BaseResultMap" type="com.galaxy.upload.module.model.Video">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="s3_bucket_name" jdbcType="VARCHAR" property="s3BucketName" />
    <result column="s3_key_480" jdbcType="VARCHAR" property="s3Key480" />
    <result column="s3_key_1080" jdbcType="VARCHAR" property="s3Key1080" />
    <result column="s3_key_2160" jdbcType="VARCHAR" property="s3Key2160" />
    <result column="object_url_480" jdbcType="VARCHAR" property="objectUrl480" />
    <result column="object_url_1080" jdbcType="VARCHAR" property="objectUrl1080" />
    <result column="object_url_2160" jdbcType="VARCHAR" property="objectUrl2160" />
    <result column="frame_images" jdbcType="VARCHAR" property="frameImages" />
  </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select  id,created_at,created_by,updated_at,updated_by,status,title,description,video_name,thumbnail,content_type,
                 size,level,suffix,s3_bucket_name,s3_key_480,s3_key_1080,s3_key_2160,object_url_480,object_url_1080,object_url_2160,
                 frame_images
        from t_video
        where is_delete = 0
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>
</mapper>